
WindowsApplication1/Form1.Designer.vb.orig
WindowsApplication1/Form1.resx
WindowsApplication1/Form1.resx.orig
WindowsApplication1/Form1.vb.orig
WindowsApplication1/My Project/Application.Designer.vb
WindowsApplication1/My Project/Application.myapp
WindowsApplication1/My Project/AssemblyInfo.vb
WindowsApplication1/My Project/Resources.Designer.vb
WindowsApplication1/My Project/Resources.resx
WindowsApplication1/My Project/Settings.Designer.vb
WindowsApplication1/My Project/Settings.settings
WindowsApplication1/WindowsApplication1.vbproj.user
WindowsApplication1/app.config
WindowsApplication1/bin/Debug/WindowsApplication1.exe
WindowsApplication1/bin/Debug/WindowsApplication1.exe.config
WindowsApplication1/bin/Debug/WindowsApplication1.pdb
WindowsApplication1/bin/Debug/WindowsApplication1.vshost.exe
WindowsApplication1/bin/Debug/WindowsApplication1.vshost.exe.config
WindowsApplication1/bin/Debug/WindowsApplication1.vshost.exe.manifest
WindowsApplication1/bin/Debug/WindowsApplication1.xml
WindowsApplication1/obj/Debug/TempPE/GeneralizedScopeDataSet.Designer.vb.dll
WindowsApplication1/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
WindowsApplication1/obj/Debug/WindowsApplication1.Form1.resources
WindowsApplication1/obj/Debug/WindowsApplication1.Resources.resources
WindowsApplication1/obj/Debug/WindowsApplication1.exe
WindowsApplication1/obj/Debug/WindowsApplication1.pdb
WindowsApplication1/obj/Debug/WindowsApplication1.vbproj.FileListAbsolute.txt
WindowsApplication1/obj/Debug/WindowsApplication1.vbproj.GenerateResource.Cache
WindowsApplication1/obj/Debug/WindowsApplication1.xml
WindowsApplication1/obj/Release/TempPE/My Project.Resources.Designer.vb.dll